@charset "UTF-8";

@media screen and (max-width: 768px){
    body{
        overflow: hidden;
    }

    section#image{
        display: none;
    }

    section#container {
       height: 100vh;
      }
}